@import "../../variables.scss";

.about_page {
  margin-top: 60px;
  padding-bottom: 100px;
  width: 100vw;
  overflow-x: hidden;

  .container {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .section1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .txt_con {
        width: 50%;

        small {
          font-weight: 600;
          text-transform: uppercase;
          color: $primary_color;
          letter-spacing: 3px;
          font-size: 15px;
        }
        h2 {
          text-transform: capitalize;
          font-size: 30px;
          line-height: 30px;
          padding-top: 10px;
        }

        p {
          padding: 20px 0;
        }
      }

      .img_con {
        width: 50%;
        height: fit-content;
        border-radius: 10px;
        overflow: hidden;
      }

      @media (max-width: 900px) {
        flex-direction: column-reverse;

        .txt_con {
          width: 100%;
        }

        .img_con {
          width: 100%;
        }
      }

      @media (max-width: 500px) {
        .txt_con {
          small {
            font-size: 14px;
          }

          h2 {
            font-size: 25px;
            padding-top: 5px;
          }
        }
      }
    }

    .section2 {
      .header {
        h3 {
          text-transform: capitalize;
          font-size: 20px;
        }
      }

      .wrapper {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        .box {
          display: flex;
          align-items: center;
          gap: 15px;
          border: 1px solid rgb(165, 164, 164);
          padding: 20px;
          border-radius: 5px;
          overflow: hidden;
          transition: 0.4s ease;
          cursor: pointer;

          span {
            min-height: 50px !important;
            min-width: 50px !important;
            border: 1px solid $primary_color2;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            color: $primary_color2;
          }

          .txt {
            h4 {
              text-transform: capitalize;
              font-weight: 600;
              font-size: 15px;
              color: $primary_color2;
            }

            p {
              padding-top: 5px;
              font-size: 14px;
            }
          }

          &:hover {
            background: $primary_color;
            border-color: transparent;
            span {
              border-color: white;
              color: white;
            }

            .txt {
              h4 {
                color: white;
              }

              p {
                color: rgb(224, 222, 222);
              }
            }
          }

          @media (max-width: 425px) {
            flex-direction: column;

            .txt {
              text-align: center;
            }
          }
        }

        @media (max-width: 900px) {
          grid-template-columns: 1fr;
        }
      }
    }
  }
}
