@import "../../variables.scss";

.home {
  width: 100vw;
  overflow-x: hidden;
  height: fit-content;
  padding-top: 130px;
  background: $bg_color_light;
  padding-bottom: 60px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;

    .txt_con {
      width: 50%;

      h1 {
        font-size: 40px;

        span {
          text-decoration: underline;
          color: $primary_color;
        }
      }

      p {
        padding: 20px 0;
      }
    }

    .img_wrapper {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;

        .img {
          border-radius: 10px;
          overflow: hidden;
          width: 200px;
          height: 220px;

          &:nth-child(2),
          &:nth-child(3) {
            position: relative;

            img {
              width: 150px;
              height: 150px;
              border-radius: inherit;
              position: absolute;
            }
          }

          &:nth-child(2) img {
            bottom: 0;
            left: 0;
          }

          &:nth-child(3) img {
            right: 0;
            top: 0;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      .txt_con {
        h1 {
          font-size: 30px;
        }
      }

      .img_wrapper {
        .main .img {
          height: 200px;
          width: 180px;
        }
      }
    }

    @media (max-width: 900px) {
      flex-direction: column-reverse;
      .img_wrapper {
        width: 100%;
        .main .img {
          width: 100%;

          &:nth-child(2),
          &:nth-child(3) {
            img {
              width: 50%;
            }
          }
        }
      }

      .txt_con {
        width: 100%;
        h1 {
          text-align: center;
        }
        p {
          text-align: center;
        }

        .btn {
          display: flex;
          justify-content: center;
        }
      }
    }

    @media (max-width: 500px) {
      .img_wrapper .main .img {
        height: 150px;

        &:nth-child(2),
        &:nth-child(3) {
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    @media (max-width: 425px) {
      .txt_con h1 {
        font-size: 25px;
      }
    }
  }
}
