@import "../../variables.scss";

nav {
  left: 0;
  top: 0;
  right: 0;
  padding: 20px 0;
  background: transparent;
  z-index: 100;
  transition: 0.6s ease;
  background: white;
  position: fixed;
  box-shadow: 0 0 5px grey;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu_btn {
      display: none;
    }

    .logo {
      width: 100px;
    }

    .navigators {
      display: flex;
      align-items: center;
      gap: 40px;

      .links {
        display: flex;
        align-items: center;
        gap: 40px;

        a {
          text-transform: capitalize;
          font-weight: 500;
          color: grey;
          position: relative;
          transition: 0.4s ease;
          font-size: 15px;

          &.active,
          &:hover {
            color: $primary_color2;
          }
        }
      }

      button {
        padding: 13px 20px;

        &:hover {
          padding: 13px 20px;
        }
      }
    }

    @media (max-width: 900px) {
      .menu_btn {
        display: block;
        cursor: pointer;

        &.close {
          color: $text_color_dark;
          font-size: 20px;
        }

        &.open {
          font-size: 23px;
          color: $text_color_dark;
        }
      }

      .navigators {
        position: fixed;
        right: -110%;
        top: 0;
        height: 100vh;
        background: white;
        box-shadow: 0 0 5px grey;
        flex-direction: column;
        gap: 30px;
        padding: 20px;
        max-width: 350px;
        width: 100%;
        align-items: unset;
        gap: 10px;
        z-index: 2;
        transition: 0.4s ease;

        &.active {
          right: 0;
        }

        .links {
          flex-direction: column;
          align-items: unset;
          gap: 10px;

          a {
            padding: 20px;

            &.active,
            &:hover {
              background: #09233927;
              border-radius: 5px;
              overflow: hidden;
            }
          }
        }

        .btn {
          width: 100%;

          button {
            width: 100%;
            display: flex;
            justify-content: left;
            padding: 20px;
          }
        }
      }
    }
  }

  .overlay {
    display: none;

    @media (max-width: 900px) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      &.active {
        opacity: 0.5;
        pointer-events: all;
        visibility: visible;
      }
    }
  }
}
