@import "../../variables.scss";

nav {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  padding: 20px 0;
  background: transparent;
  z-index: 100;
  transition: 0.6s ease;

  &.active {
    background: rgba(0, 0, 0, 0.89);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .menu_btn {
      display: none;
      z-index: 3;
    }

    .logo {
      width: 100px;
    }

    .links {
      display: flex;
      align-items: center;
      gap: 30px;

      a {
        text-transform: capitalize;
        font-weight: 500;
        color: $text_color_white;
        transition: 0.4s ease;
        font-size: 15px;

        &.active,
        &:hover {
          color: $primary_color;
        }
      }
    }

    .btn_section {
      display: flex;
      align-items: center;
      gap: 30px;

      button {
        border-color: $primary_color;
        color: $text_color_white;

        &:hover {
          background: #0d3151;
        }
      }

      @media (max-width: 425px) {
        gap: 10px;
      }
    }

    @media (max-width: 900px) {
      .menu_btn {
        display: block;
        cursor: pointer;
        color: $text_color_white;
        font-size: 25px;
      }

      .links {
        position: fixed;
        right: 5%;
        height: 80vh;
        background: white;
        top: 80px;
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
        flex-direction: column;
        gap: 30px;
        padding-top: 20px;
        z-index: 2;
        opacity: 0;
        transform: scale(0.5);
        pointer-events: none;
        visibility: hidden;
        transition: 0.3s ease;

        &.active {
          transform: scale(1);
          opacity: 1;
          pointer-events: all;
          visibility: visible;
        }

        a {
          color: $text_color_dark;
          width: 100%;
          padding: 20px;

          &.active,
          &:hover {
            background: $primary_color;
            color: white;
          }
        }
      }
    }
  }

  .overlay {
    display: none;

    @media (max-width: 900px) {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: black;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition: 0.4s ease;

      &.active {
        opacity: 0.8;
        visibility: visible;
        pointer-events: all;
      }
    }
  }
}
